<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿一覧</span>
    </h3>
  </div>
  <% @boards.each do |board| %>
    <div class="post_wrapper__content">
    <ul class="post_wrapper__content__post_list">
      <%# 未投稿の場合は「まだ投稿されたスレッドはありません。」と表示するように条件分岐すること %>

      <%# each文で投稿一覧を表示すること %>
      <li>
        <%= link_to board_path(board) do %>
          <div class="post">
            <div class="post__top_box">
              <div class="post__top_box__name">
                <span>投稿者：<%= board.user.name %></span>
              </div>
              <div class="post__top_box__time">
                <span>投稿日時：<%= board.created_at.to_s(:datetime) %></span>
              </div>
            </div>
            <div class="post__middle_box">
              <span><%= board.content %></span>
              
            </div>
            <div class="post__bottom_box">
              <ul class="post__bottom_box__user_actions">
                <li>
                  <i class="far fa-comment-alt"></i>
                  <span><%= board.comments.length %></span>
                </li>
                <li id="board_<%= board.id %>">
                  <%= render "like", board: board %>
                </li>
              </ul>
              <ul class="post__bottom_box__admin_actions">
              <% if user_signed_in? && current_user.id == board.user_id %>
               <%= link_to '編集', edit_board_path(board)%>
               <%= link_to'削除', board_path(board), method: :delete, data: {confirm: '削除して宜しいでしょうか?'} %>
    
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
    </div>
  <% end %>

</div>
